body {
  margin: 0;
}

.top {
  margin-left: 315px;
  margin-right: 315px;
}

.content {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: grey;
  display: inline-block;
  margin: 15px;
  position: relative;
}

.content img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 20%;
  left: 18%;
}

.content p {
  position: relative;
  margin-top: 90px;
  text-align: center;
}

.contact {
  display: inline-block;
  text-align: right;
  float: right;
  margin-top: -10px;
}

.contact img {
  margin-top: -10px;
  height: 20px;
}

/* header top end */

.bottom {
  background-image: url("https://developingourwings.files.wordpress.com/2015/07/jumping-off-a-cliff.jpg");
  background-size: cover;
  height: 480px;
  text-align: center;
}

#jump h1 {
  padding: 220px 0;
  color: white;
}

/* header bottom end */

.profilepic img {
  height: 200px;
  width: 200px;
  display: inline-flex;
}

/* who am i end */

.travelposter {
  background-image: url("Photos/Travel/1531963_10153078844559598_6158254381549150250_o.jpg");
  background-size: cover;
  height: 480px;
  text-align: center;
}

video {
  width: 100%
}
